# node
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log/

# dotenv
.env

# typescript
ignored/
*.tsbuildinfo

# eslint
.eslintcache

# local editors
.vscode
.DS_Store
